body {
    font-family: Arial, sans-serif;
}
.cell {
    stroke: #555;
}
.axis-label {
    font-size: 12px;
}
#legend rect {
    stroke: #555;
}
#tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #555;
    padding: 5px;
    opacity: 0.9;
    pointer-events: none;
}
